#cloud-config
hostname: {{ context.name }}
locale: {{ context.locale }}
timezone: {{ context.timezone }}

resize_rootfs: {{ context.resize_rootfs }}

write_files:
  - path: /etc/default/keyboard
    content: |
      XKBMODEL="pc105"
      XKBLAYOUT="{{ context.kb_layout }}"
      XKBVARIANT="intl"
      XKBOPTIONS=""
    permissions: '0644'
    owner: root:root

{% if context.ifs -%}
write_files:
  {% for if in context.ifs -%}
  - path: /etc/network/interfaces.d/{{ if.name }}.cfg
    content: |
      auto {{ if.name }}
      iface {{ if.name }} inet {{ if.type }}
      {% if if.type == 'static' -%}
      address {{ if.address }}
      network {{ if.network }}
      netmask {{ if.netmask }}
      broadcast {{ if.broadcast }}
      gateway {{ if.gateway }}
      dns-nameservers {% for dns in if.dnss %}{{ dns }}{% if not loop.last %} {% endif %}{% endfor %}{% endif %}
    permissions: '0644'
    owner: root:root
    {% endfor -%}
{% endif -%}

{% if context.users -%}
users:
  {% for user in context.users -%}
  - name: {{ user.name }}
    {% if user.groups -%}
    groups: {% for group in user.groups %}{{ group }}{% if not loop.last %},{% endif %}{% endfor %}
    {% endif -%}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: {{ user.shell }}
    lock-passwd: False
    {% if user.ssh_keys -%}
    ssh-authorized-keys:
      {% for ssh_key in user.ssh_keys -%}
        - {{ ssh_key }}
      {% endfor -%}
    {% endif -%}
  {% endfor -%}
{% endif -%}

ssh_pwauth: {{ context.ssh_pass_auth }}
package_update: {{ context.apt_update }}
package_upgrade: {{ context.apt_upgrade }}

byobu_by_default: system

{% if context.packages -%}
packages:
  {% for package in context.packages -%}
  - {{ package }}
  {% endfor -%}
{% endif -%}

{% if context.runcmds -%}
runcmd:
  {% for runcmd in context.runcmds -%}
  - {{ runcmd }}
  {% endfor -%}
{% endif -%}

power_state:
  mode: reboot
  message: Instance ready, rebooting...
