#cloud-config
hostname: {{ context.name }}

locale: {{ context.locale }}
timezone: {{ context.timezone }}
write_files:
  - path: /etc/default/keyboard
    content: |
      XKBMODEL="pc105"
      XKBLAYOUT="{{ context.kb_layout }}"
      XKBVARIANT="intl"
      XKBOPTIONS=""
    permissions: '0644'
    owner: root:root

ssh_pwauth: {{ context.ssh_pass_auth }}
users:
  - name: root
    ssh-authorized-keys:
      - {{ context.ssh_root_key }}
package_update: {{ context.apt_update }}
package_upgrade: {{ context.apt_upgrade }}

{% if context.configure_network %}
network-interfaces: |
  auto {{ context.network_device }}
  {% if context.ip_address -%}
  iface {{ context.network_device }} inet static
  address {{ ip_address }}
  network {{ network_address }}
  netmask {{ subnet_mask }}
  broadcast {{ broadcast_address }}
  gateway {{ gateway_address }}
  dns-nameservers {{ dns_servers }}
  {% else -%}
  iface {{ context.network_device }} inet dhcp
  {% endif -%}
{% endif %}

resize_rootfs: {{ context.resize_rootfs }}
{% if context.packages -%}
packages:
  {% for package in context.packages -%}
  - {{ package }}
  {% endfor -%}
{% endif %}
{% if context.runcmds -%}
runcmd:
  {% for runcmd in context.runcmds -%}
  - {{ runcmd }}
  {% endfor -%}
{% endif %}

power_state:
  mode: reboot
  message: Instance ready, rebooting...
